# Server Port
PORT=8080

# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/univgeeks

# Allowed Origins for CORS (comma-separated)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
